<h1>Band Dashboard Page: <%= @band_site.slug %></h1>

<i class='icon-share'></i>
<%= link_to '%s.%s' % [@band_site.slug, request.domain], view_band_site_path(@band_site),
    :target => '_blank' %>

<br />

<i class='icon-edit'></i>
<%= link_to 'Launch Editor', edit_band_site_path(@band_site), :target => '_blank' %>

<br />

<i class='icon-user'></i>
<%= link_to 'Collaborators', band_site_collaborators_path(@band_site) %>

<br /><br />

<%= link_to 'Delete Site', @band_site, confirm: 'Are you sure?', method: :delete,
    :class => 'btn btn-danger' %>
