<h1>New band site</h1>

<%= form_for(@band_site) do |f| %>
  <% if @band_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band_site.errors.count, "error") %> prohibited this band site from being saved:</h2>

      <ul>
      <% @band_site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br />

<%= link_to 'Back', user_path %>