<h1>User Dashboard Page: <%= current_user.email %></h1>

<% current_user.band_sites.each do |band_site| %>
<div>
  <div class='widget-title'>
    <%= link_to band_site.name, band_site_dashboard_path(band_site) %>
  </div>
  <div class='widget-body'>
    <%= band_site.description %><br />
    <%= link_to view_band_site_path(band_site) %><br />
    <br />
    <%= link_to 'Launch Dashboard', band_site_dashboard_path(band_site) %><br />
    <%= link_to 'Launch Editor', edit_band_site_path(band_site) %>
  </div>
</div>
<% end %>

<br />

<%= link_to 'New Site', new_band_site_path %>
