<h1><%= @band_site.title %>: Collaborators</h1>

<ul>
  <% @band_site.other_users(current_user).each do |user| %>
  <li>
    <%= user.email %>
    <% if user.pending? %>(pending)<% end %>
    <%= link_to 'Remove', band_site_collaborator_path(@band_site, user),
          :method => :delete %>
  </li>
  <% end %>
</ul>

<br />

<%= render 'invite' %>

<br />

<%= link_to 'Back to %s Dashboard' % @band_site.title, band_site_dashboard_path %>
