<% content_for :application do %>
  <% if @version == 'normal' %>
  <%= stylesheet_link_tag    'themes/press-play/index', :media => 'all' %>
  <%= requirejs_include_tag  'themes/press-play/main' %>
  <% elsif @version == 'editor' %>
  <%= stylesheet_link_tag    'themes/press-play/editor/index', :media => 'all' %>
  <%= requirejs_include_tag  'themes/press-play/editor/main' %>
  <% end %>
<% end %>

<% content_for :body do %>
  <div id='pp-template' class='pp-template pp-dark'></div>
<% end %>

<%= render :template => 'layouts/theme' %>
