<% content_for :favicon do %>
<link rel='shortcut icon' href='/assets/favicon/3.png'>
<% end %>

<% content_for :application do %>
  <% if @version == 'normal' %>
  <%= stylesheet_link_tag    'themes/steady-sun/index', :media => 'all' %>
  <%= requirejs_include_tag  'themes/steady-sun/main' %>
  <% elsif @version == 'editor' %>
  <%= stylesheet_link_tag    'themes/steady-sun/editor/index', :media => 'all' %>
  <%= requirejs_include_tag  'themes/steady-sun/editor/main' %>
  <% end %>
<% end %>

<% content_for :body do %>
  <div id='ss-template'></div>
<% end %>

<%= render :template => 'layouts/theme' %>
