<!DOCTYPE html>
<html>
<head>
  <title>Amplifyre</title>
  <%= stylesheet_link_tag    'landing/index', :media => 'all' %>
  <%= javascript_include_tag 'landing/index' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id='user-nav'>
    <% if user_signed_in? %>
      Signed in as <%= link_to current_user.email, user_root_path %>. Not you?
      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %> or <%= link_to 'sign in', new_user_session_path %>
    <% end %>
  </div>

  <p class='notice'><%= notice %></p>
  <p class='alert'><%= alert %></p>

  <%= yield %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251718-1']);
    _gaq.push(['_setDomainName', 'amplifyre.com']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
