<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  
  <!-- og/fb tags -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://bringtheloot.com" />
  <meta property="og:image" content="/assets/images/backgrounds/6-1317341185-color.jpg" />
  <meta property="og:site_name" content="The Loot" />
  <meta property="og:title" content="The Loot" />
  <meta property="fb:admins" content="831670161" />
  <!-- end og/fb tags -->
  
  <!-- meta tags -->
  <meta name="title" content="The Loot" />
  <meta name="description" content="pumpin sweet beats" />
  <link rel="image_src" href="/assets/images/backgrounds/6-1317341185-color.jpg" />
  <!-- end meta tags -->
  
  <title>The Loot</title>
  
  <link rel="shortcut icon" href="/assets/favicon/10.png">
  
  <script type="text/javascript">
  window.data = {};
  window.data.tagline = "pumpin sweet beats";
  window.data.socials = [{
    id: 1,
    type: "facebook",
    link: "http://facebook.com/thelootnyc"
  }];
  window.data.albums = [{
    id: 1,
    title: "Episodes",
    cover: "6-1313881677.jpg",
    tracks: [{
      id: 1,
      file: {
        mp3: "6-1313946157.mp3",
        m4a: "6-1313946157.m4a"
      },
      title: "The Gift Be",
      artist: "The Loot"
    },
    {
      id: 2,
      file: {
        mp3: "6-1313946195.mp3",
        m4a: "6-1313946195.m4a"
      },
      title: "Come Clean",
      artist: "The Loot"
    }]
  }];
  window.data.pages = [{
    id: -1,
    order: 1,
    slug: "home",
    title: "Home"
  },
  {
    id: 1,
    order: 3,
    type: "custom",
    slug: "about",
    title: "About",
    data: {
      body: "My about page"
    }
  },
  {
    id: 2,
    order: 4,
    type: "photos",
    slug: "photos",
    title: "Photos",
    data: {
      photos: [{
        id: 1,
        filename: "6-1315856282.jpg"
      },
      {
        id: 2,
        filename: "6-1315856283.jpg"
      },
      {
        id: 3,
        filename: "6-1315856284.jpg"
      },
      {
        id: 4,
        filename: "6-1315856285.jpg"
      }]
    }
  },
  {
    id: 3,
    order: 5,
    type: "listen",
    slug: "listen",
    title: "Listen",
    data: {
      albums: window.data.albums
    }
  },
  {
    id: 4,
    order: 7,
    type: "contact",
    slug: "contact",
    title: "Contact"
  },
  {
    id: 5,
    order: 2,
    type: "news",
    slug: "news",
    title: "News",
    data: {
      posts: [{
        id: 1,
        date: "07.08.2012",
        title: "Thanks for coming out. We had a great time!",
        body: "Sullivan Hall was bumping Saturday night. Much love to Carlton \"Fred Hampton\" Tarantino for coming out from DC for the show and thank you all for coming to see us. For those who couldn't make it, you missed out, but we've got recordings. Stay tuned."
      },
      {
        id: 2,
        date: "07.02.2012",
        title: "Episodes EP",
        body: "<div style=\"text-align:center;\">Download the Episodes EP Now!<br /><a href=\"http://bringtheloot.com/download/Episodes%20EP.zip\"><img src=\"http://i.imgur.com/ECEuu.jpg\" /></a></div>"
      }]
    }
  },
  {
    id: 6,
    order: 6,
    type: "tour",
    slug: "tour",
    title: "Tour",
    data: {
      concerts: [{
        id: 1,
        date: "04.19.2012",
        time: "9 pm, FREE",
        venue: "CultureFix",
        details: "Sexy folk music on the Lower East Side.<br /> Featuring:<br /><br />Raveena Aurora<br />Minnie and Aya<br />Steady Sun<br />Eric Ching<br /><br />Culture Fix<br />9 Clinton Street<br />New York, NY 10002<br />(646) 863-7171<br />culturefixny.com",
        photo: "189-1329107550.jpg"
      }]
    }
  }];
  </script>
  
  <%= stylesheet_link_tag    "themes/press-play", :media => "all" %>
  <%= javascript_include_tag "themes/press-play" %>

  <% if @version == "editor" %>
  <%= stylesheet_link_tag    "themes/press-play-editor", :media => "all" %>
  <%= javascript_include_tag "themes/press-play-editor" %>
  <% end %>

  <script type="text/javascript">
  $(function() {
    window.data.tracks = [];
    _.each(window.data.albums, function(album) {
      window.data.tracks = _.union(window.data.tracks, album.tracks);
    });
    window.router = new PressPlay.Routers.SiteRouter({
      data: window.data
    });
    Backbone.history.start({ pushState: true });
  });
  </script>
  <!-- end application init -->
  
</head>

<body>

<!-- background image goodness -->
<div id="background-desat"><img src="/assets/images/backgrounds/6-1317341185-bw.jpg" /></div>
<div id="background"><img src="/assets/images/backgrounds/6-1317341185-color.jpg" /></div>

<!-- music player goodness -->
<div id="play-pause">
  <div id="play"><img src="/assets/controls/play.png" /></div>
  <div id="pause"><img src="/assets/controls/pause.png" /></div>
</div>
<div id="next-prev">
  <div id="prev"><img src="/assets/controls/prev.png" /></div>
  <div id="next"><img src="/assets/controls/next.png" /></div>
</div>
<div id="jp_interface"></div>

<!-- begin amplifyre website -->
<div class="container">

  <nav>

    <!-- navigation -->
    <div class="outerwrap"><div id="navigation" class="outerfloat clearfix">
    </div></div>

    <!-- social media -->
    <div id="social-media" class="clearfix">
    </div>

  </nav>

  <div id="page">
    <%= yield %>
  </div>

  <div class="outerwrap"><div class="outerfloat">
    <div class="black-banner">

      <a href="javascript:window.router.navigate('home',{trigger:true})" title="Home"><h1>The Loot</h1></a>

      <div id="tagline"><div class="track-info">pumpin sweet beats</div></div>

    </div>
  </div></div>

</div>

</body>
</html>