<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' ''http'://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>

<html xmlns=''http'://www.w3.org/1999/xhtml' 'xml':lang='en' lang='en'>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  
  <!-- og/fb tags -->
  <meta property='og:type' content='website' />
  <meta property='og:url' content=''http'://bringtheloot.com' />
  <meta property='og:image' content='/assets/images/backgrounds/6-1317341185-color.jpg' />
  <meta property='og:site_name' content='The Loot' />
  <meta property='og:title' content='The Loot' />
  <meta property='fb:admins' content='831670161' />
  <!-- end og/fb tags -->
  
  <!-- meta tags -->
  <meta name='title' content='The Loot' />
  <meta name='description' content='pumpin sweet beats' />
  <link rel='image_src' href='/assets/images/backgrounds/6-1317341185-color.jpg' />
  <!-- end meta tags -->
  
  <title>The Loot</title>
  
  <link rel='shortcut icon' href='/assets/favicon/10.png'>
  
  <script id='bootstrap' type='text/json'>
  {
    "band_site": <%=raw @band_site.to_json %>,
    "socials": <%=raw @band_site.socials.to_json %>,
    "albums": <%=raw @band_site.albums.to_json %>,
    "tracks": <%=raw @band_site.tracks.to_json %>,
    "photos": <%=raw @band_site.photos.to_json %>,
    "posts": <%=raw @band_site.posts.to_json %>,
    "concerts": <%=raw @band_site.concerts.to_json %>,
    "pages": <%=raw @band_site.pages.to_json %>
  }
  </script>

  <% if @version == 'normal' %>
  <%= stylesheet_link_tag    'themes/press-play/index', :media => 'all' %>
  <% elsif @version == 'editor' %>
  <%= stylesheet_link_tag    'themes/press-play/editor/index', :media => 'all' %>
  <% end %>

  <script type='text/javascript' src='/assets/require.js'></script>
  <script type='text/javascript' src='/assets/themes/press-play/config.js'></script>
  <script type='text/javascript'>
    require.config({
      urlArgs: '_=' + (+new Date),
      baseUrl: '/assets/themes/press-play'
    });
    <% if @version == 'editor' %>
    require.config({
      helpers: ['editor'],
      map: {
        '*': {
          'views/pages/listen': 'help!views/pages/listen',
          'views/pages/news': 'help!views/pages/news',
          'views/pages/tour': 'help!views/pages/tour',
          'views/pages/photos': 'help!views/pages/photos',
          'views/pages/contact': 'help!views/pages/contact',
          'views/pages/custom': 'help!views/pages/custom',
          'views/links/navigation': 'help!views/links/navigation',
          'views/music/album': 'help!views/music/album',
          'views/music/track': 'help!views/music/track',
          'views/visual/photo': 'help!views/visual/photo',
          'views/visual/ticker': 'help!views/visual/ticker',
          'views/content/concert': 'help!views/content/concert',
          'views/content/post': 'help!views/content/post'
        }
      }
    });
    <% end %>
    require(['main']);
  </script>
  <!-- end application init -->
  
</head>

<body>

  <div class='pp' data-press-play></div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251718-1']);
    _gaq.push(['_setDomainName', 'amplifyre.com']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
